$breakpoint-sm: 600px; // min tablet
$breakpoint-md: 800px; // min laptops, small screens
$breakpoint-lg: 1024px; // desktop, large screens
$breakpoint-xl: 1200px; // extra large screens
$breakpoint-xxl: 1600px;
